.hero-wrapper{
    color: white;
    position: relative;
    margin-bottom: 2rem;
    height: 100vh;
}

.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}

/* Parti droite */
.hero-left{
    gap: 3rem;
}

.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title > h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle{
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    z-index: -1;
    position: absolute;
}
.img-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(255,255, 255, 0.12);
}

.hero-description{

}

.img-container>img{
    width: 100%;
    height: 100%;
}
.search-bar{
    background: white;
    border: none;
    padding: 0.5rem 1rem;
    justify-content: space-between;
}
.search-bar > input {
    border: none;
    outline: none;
}

.stats{
    justify-content: space-between;
    width: 100%;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
color: #ff922d;
}

.custom-shape-divider-bottom-1679477730 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1679477730 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 249px;
}

.custom-shape-divider-bottom-1679477730 .shape-fill {
    fill: #ffffff;
}